.sprite-sprite, .figure_sprite, .figure_nokian, .figure_hankook, .lable_toyo, .lable_bridge, .lable_contin, .lable_cooper, .lable_avon, .lable_factory, .lable_firreli, .lable_dunlop {
  background-image: url('../img/../img/sprite-sf878a3abc5.png');
  background-repeat: no-repeat;
}

.wrapper {
  width: 482px;
  border-radius: 3px;
  margin: 161px auto;
  padding: 13px 2px 5px 41px;
  background: linear-gradient(to top, #93a7b0, #e5e7e8);
  overflow: hidden;
}

.figure {
  float: left;
  margin: 0 48px 25px -20px;
}
.figure_figcaption {
  width: 140px;
  text-align: center;
  white-space: nowrap;
}
.figure_link {
  display: block;
  font-size: 13px;
  color: #1f2528;
}
.figure_sprite {
  background-position: 0 -181px;
  display: block;
  width: 140px;
  height: 129px;
}
.figure_nokian {
  background-position: 0 -542px;
}
.figure_hankook {
  background-position: 0 -320px;
}
.figure_colo {
  color: #206988;
  font-size: 15px;
}
.figure_price {
  display: block;
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #114165;
  font-family: Arial, Tahoma, sans-serif;
}
.figure_grv {
  font-size: 12px;
}

.sss {
  margin-right: 1px;
}

.lable {
  text-align: center;
  margin: -125px 0 25px 0;
}
.lable_link {
  display: inline-block;
  margin-right: 8px;
}
.lable_toyo {
  background-position: 0 -864px;
  width: 83px;
  height: 21px;
}
.lable_bridge {
  background-position: 0 -51px;
  width: 97px;
  height: 21px;
}
.lable_contin {
  background-position: 0 -75px;
  width: 77px;
  height: 21px;
}
.lable_cooper {
  background-position: 0 -106px;
  width: 59px;
  height: 21px;
}
.lable_avon {
  background-position: 0 0;
  width: 77px;
  height: 21px;
}
.lable_factory {
  background-position: 0 -827px;
  width: 57px;
  height: 27px;
}
.lable_firreli {
  background-position: 0 -681px;
  width: 61px;
  height: 21px;
}
.lable_dunlop {
  background-position: 0 -158px;
  width: 72px;
  height: 21px;
}
